<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="AccesoDatos.Contratos.Contexto, AccesoDatos" mapTo="AccesoDatos.SQLServer.ContextoSQLServer, AccesoDatos" />
    <register type="AccesoDatos.Contratos.IAccesoDatosCliente, AccesoDatos" mapTo="AccesoDatos.AccesoDatosCliente, AccesoDatos" />
    <register type="AccesoDatos.Contratos.IAccesoDatosVeniculo, AccesoDatos" mapTo="AccesoDatos.AccesoDatosVehiculo, AccesoDatos" />
    <register type="AccesoDatos.Contratos.IAccesoDatosServicio, AccesoDatos" mapTo="AccesoDatos.AccesoDatosServicio, AccesoDatos" />
  </container>
</unity>